# Replit: https://docs.replit.com/programming-ide/configuring-repl
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80
